body, html {
    margin: 0;
    height: 100%;
}

ul {
    margin: 0 auto;
    padding-left: 0px;
    list-style: none;
}

li {
    line-height: 25px;
    list-style: none;
}

a i {
    margin: 0 10px;
}

.link:hover {
    font-weight: bold;
}

#brand {
    margin-left: 5px;
    font-family: 'Patua One', cursive;
    font-size: 20px;
}

#brand:hover {
    cursor: pointer;
    font-weight: bold;
}

#gImage {
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../pictures/homePic.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    margin-top: -20px;
}

#pImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../pictures/profPic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#gHeader {
    text-align: center;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gHeading1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70px;
    color: white;
    animation: 2s fadein;
    -webkit-animation: 2s fadein;
}

#gHeading2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 38px;
    color: white;
    animation: 2s fadein;
    -webkit-animation: 2s fadein;
}

#bioText {
    padding-top: 20px;
    margin: 0 auto;
    width: 60%;
    line-height: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.9);
}

.row {
    padding-top: 50px;
}

.section {
    padding-top: 75px;
    min-height: 90vh;
}

.smSection {
    padding-top: 75px;
    height: 50vh;
}

.flexCenter{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction:column;
}

.headings {
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.bodyText {
    margin: 0 auto;
    padding-top: 20px;
    line-height: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.subBody {
    margin: 0 auto;
    line-height: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.skills {
    display: inline-block;
    border: solid black 1px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 0 6px;
}

/* font-family: 'Roboto Condensed', sans-serif; for headings
font-family: 'Lato', sans-serif; for others */

.downArrow{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction:column;
  height:5vh;
  background-color: #222222;
}

.scroll-down {
      height: 75px;
      width: 65px;
      display: block;
      position: absolute;
      text-align: center;
      z-index: 99;
}

.scroll-down .glyphicon {
	color: #FFFFFF;
	font-size: 30px;
	padding-right: 0px;
    padding-top: 20px;
	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}


@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes wiggle {
    0% {
      padding-top: 20px;
    }

    50% {
      padding-top: 28px;
    }

    100% {
      padding-top: 20px;
    }
}
